body
{
	background-image:url("quantum-entanglement.gif");
}

	.login_div1 , .login_div2
	{
		background-image:url("l.gif");
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	text-align: center;
}
h2{
	color: white;
}
h1{
	color: white;
	font-size: 100px;
}
h2{
	color: white;
}
label{
color: white;
}
button{
background-image: url("download.jfif");
color: white;
}